:root {
  --lh: 1.6rem;
}

*{
  box-sizing: border-box;
  margin : 0;
  padding : 0;
}

body{
  background: black;

}

#background{
  width: 1200px;
  padding: 89px 0;
  background :#000000;
}

/*effet de background*/


.outer-scratch, .inner-scratch {
  height: inherit;
}

.outer-scratch:after, .inner-scratch:after {
  content: '';
  top: 0;
  left: 0;
  padding-left: 100px;
  opacity: .08;
  -webkit-animation: scratch 0.45s steps(1) infinite;
  animation: scratch 0.45s steps(1) infinite;
}

.inner-scratch:after {
  left: 30%;
  -webkit-animation: inner-scratch 2s infinite;
  animation: inner-scratch 2s infinite;
}

.grain:after {
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  top: -5%;
  left: -5%;
  opacity: .21;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
  -webkit-animation: grain 0.5s steps(1) infinite;
  animation: grain 0.5s steps(1) infinite;
}

#btn1{
      font-size: 20px;
      align-items: center;
      display: flex;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    background-color: #000000;
    border: none;
    cursor: pointer;
  
}

a{
  position: relative;
  padding: 3px 10px; 
  border: 2px solid #ffffff;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    z-index: 3;
}

a::before {
  content: '';
  position: relative;
  top: 6px;
  left: -2px;
}

a::after {
  content: '';
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 5px);
  width: calc(100% - 12px);
  background-color: #111111;
  transition: 0.3s cubic-bezier(0.14, 0.88, 0.57, 1.69);
  transition-delay: 0.1s;
}
a:hover::after {
  transform: scaleX(0);
}
a span {
  position: relative;
  z-index: 99;
}

p {
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 7px;
  opacity : 0.5;
  padding-top : 15px;
}
/* toute la jaquette */
.wrapper{
  max-width: 37em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.image-container{
  width: 400px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img{
  width: 100%;
  display:block;
  margin: auto;
  border-radius: 2em;
  height: auto;
}

.content{
  border-radius: 2em;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  position: absolute;
  padding: 0rem;
  background: rgb(0 0 0 / 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.5s;
  box-shadow:  9px 1em 1em 1px rgb(6 6 6);

}
.content:hover{
  opacity: 1;
}
.content h2{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 25px;  
  color: #E0DFD6;
  margin: -4%;
  text-align: center;

}

#movieYear{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 17px;
  margin : -1%;
  color: #E0DFD6;
  text-align: center;
}


.content h3 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 17px;
  margin : -1%;
  color: #E0DFD6;
  text-align: center;
}
.content h4{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  color: #E0DFD6;
  margin: 2%;
  text-align: center;
}
.content p{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  color: #E0DFD6;
  margin-bottom: -1rem;
  padding: 1rem;
  text-align: center;
}

#movieTrailer{

  transform: translate(0%, 100%);

  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
letter-spacing: 2px;
text-decoration: none;
text-transform: uppercase;
text-align: center;
color: #000000;
background-color: #ffffff;
cursor: pointer;
border: 3px solid;
box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;

}

#movieTrailer:active {
  box-shadow: 0px 0px 0px 0px;
 
}

#movieResume {
  --max-lines: 2;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
}


/* Les boutons du bas. */
#secondaryBtn{
  display: flex;
  margin-top : 2% ; 
  margin-left: auto;
  margin-right: auto;
  align-items:center;
  justify-content:center;
  gap: 10%;
 }

  @media only screen and (max-width: 600px){
    #background{
      width: 100%;
    }
    #btn1{
      margin-bottom: 3%;
      margin-top:-15%
    }
  }
  
  @media (min-width: 601px){
    #background{
      width: 100%;
    }
    #btn1{
      margin-bottom: 1.5%;
      margin-top:-12%
    }
  }
  
  @media (min-width: 768px){
    #background{
      width: 100%;
    }
   
    #movieTrailer {
      padding: 0.25em 0.75em;
    }
    #btn1{
      margin-top:-8%
    }
  }

  @media (min-width: 992px){
    #background{
      width: 100%;
    }
    #btn1{
      margin-top:-7%
    }
  }

  @media (min-width: 1100px){
    #background{
      width: 100%;
    }
    #btn1{
      margin-bottom: 1%;
      margin-top:-5%
    }
  }

  @media only screen and (min-width: 3840px){
    #background{
      width: 100%;
    }
    #btn1{
      margin-bottom: 1%;
      margin-top:-5%
    }
  }

  @media only screen and (min-height: 2160px){
  #background{
    width: 100%;
  }
  #btn1{
    margin-bottom: 1%;
    margin-top:-5%
  }
}


  @keyframes grain {
    0%, 100% {
      transform: translate(0, 0, 0);
    }
  
    10% {
      transform: translate(-1%, -1%);
    }
  
    20% {
      transform: translate(1%, 1%);
    }
  
    30% {
      transform: translate(-2%, -2%);
    }
  
    40% {
      transform: translate(3%, 3%);
    }
  
    50% {
      transform: translate(-3%, -3%);
    }
  
    60% {
      transform: translate(4%, 4%);
    }
  
    70% {
      transform: translate(-4%, -4%);
    }
  
    80% {
      transform: translate(2%, 2%);
    }
  
    90% {
      transform: translate(-3%, -3%);
    }
  }
  
  @keyframes scratch {
    0%, 100% {
      transform: translateX(0);
      opacity: 0.075;
    }
  
    10% {
      transform: translateX(-1%);
    }
  
    20% {
      transform: translateX(1%);
    }
  
    30% {
      transform: translateX(-2%);
          opacity: 0.09;
    }
  
    40% {
      transform: translateX(3%);
    }
  
    50% {
      transform: translateX(-3%);
      opacity: 0.05;
    }
  
    60% {
      transform: translateX(8%);
    }
  
    70% {
      transform: translateX(-3%);
    }
  
    80% {
      transform: translateX(10%);
      opacity: 0.02;
    }
  
    90% {
      transform: translateX(-2%);
    }
  }
  
  @keyframes inner-scratch {
    0% {
      transform: translateX(0);
      opacity: 0.08;
    }
  
    10% {
      transform: translateX(-1%);
    }
  
    20% {
      transform: translateX(1%);
    }
  
    30% {
      transform: translateX(-2%);
    }
  
    40% {
      transform: translateX(3%);
    }
  
    50% {
      transform: translateX(-3%);
      opacity: 0.06;
    }
  
    60% {
      transform: translateX(8%);
    }
  
    70% {
      transform: translateX(-3%);
    }
  
    80% {
      transform: translateX(10%);
      opacity: 0.03;
    }
  
    90% {
      transform: translateX(20%);
    }
  
    100% {
      transform: translateX(30%);
    }
  }
  
  